<div class="container text-center">
  <button class="btn btn-primary mb-5 shadow border" (click)="downloadResume()">
    Download Resume
  </button>
  <accordion [isAnimated]="true" class="shadow">
    <accordion-group heading="Work Experience">
      <div style="text-align: left">
        <h2 class="mb-0">Senior Speicailist Software Engineer</h2>
        <h3 class="text-primary">LTIMindtree</h3>
        <ul>
          <li>
            Involved in developing E-Commerce website applications (www.blu.com
            , www.pulze.com) for different markets with customer facing project.
          </li>
          <li>
            Created multiple address functionality for the website using
            ReactJS, JavaScript with Typescript.
          </li>
          <li>
            Working experience in handling email templates and creating pages
            using Contentful (CMS tool) Optimove CRM.
          </li>
          <li>
            mplement and maintain CI/CD pipelines to automate the build, test
            and deployment processes and reliable releases.
          </li>
          <li>
            Proficient in web services technologies including HTTP and REST for
            efficient communication and data exchange between systems.
          </li>
        </ul>
      </div>
      <div style="text-align: left">
        <h2 class="mb-0">Senior UI Developer</h2>
        <h3 class="text-primary">Artech Info Systems (IBM)</h3>
        <ul>
          <li>
            Developed additional functionality in Freedom Mortgage banking
            application for the Survey Servicing channel using JavaScript, IBM
            WebSphere portal.
          </li>
          <li>
            Worked on a team utilizing the agile methodology to create RESTful
            APIs for Freedom Mortgage Project.
          </li>
          <li>
            Handles Freedom Mortgage Home Page UI changes using ReactJS, HTML5,
            CSS3, Bootstrap technologies.
          </li>
          <li>
            Familiar with software design patterns such as MVC, Singleton,
            Factory to understand code structure and maintainability.
          </li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group heading="Education">
      <div style="text-align: left">
        <h2 class="mb-0">Master of Computer Application</h2>
        <h3 class="text-primary">
          Sir M. Visvesvaraya Institute of technology
        </h3>
        <h5>06/2009 - 08/2012</h5>
      </div>
      <div style="text-align: left">
        <h2 class="mb-0">Second Level Master's in Sports Engineering</h2>
        <h3 class="text-primary">Politecnico Di Torino</h3>
        <h5>09/2018 - 04/2019</h5>
      </div>
    </accordion-group>
    <accordion-group heading="Certifications">
      <div style="text-align: left">
        <h2 class="text-primary">Angular 4 : Beginner to Pro</h2>
        <h3 class="mb-0">From Code With Mosh</h3>
      </div>
    </accordion-group>
    <accordion-group heading="Skills">
      <div class="row" style="text-align: left">
        <div class="col">
          <h3>Programming Languages</h3>
          <ul>
            <li>JavaScript</li>
            <li>ReactJS</li>
            <li>Typescript</li>
            <li>HTML&CSS</li>
            <li>C#</li>
          </ul>
        </div>
        <div class="col">
          <h3>Frameworks</h3>
          <ul>
            <li>Angular</li>
            <li>NextJS</li>
            <li>ASP.NET</li>
            <li>NodeJS</li>
          </ul>
        </div>
        <div class="col">
          <h3>Other Skills</h3>
          <ul>
            <li>Git</li>
            <li>Jira & Contentful</li>
            <li>Agile Development</li>
            <li>Project Management</li>
          </ul>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
